.login-container{
    height: 30vh;
    width: 80vh;
    background-color: aqua;
    margin-top: 100px;
    margin-left: 400px;
    border-radius: 10px;
    padding: 10px;
}
.login-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.login-footer{
    margin: auto;
}