.signup-container{
    height: 40h;
    width:80vh;
    background-color: rgb(233, 149, 149);
    margin-top: 100px;
    margin-left: 400px;
    border-radius: 10px;;
    padding: 10px;
}
.signup-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.signup-footer{
    margin:auto;
}
